Repository turnly/turnly, pull requests merged in 2022-12, with the labels that each got.

#62 feat: support notification options on widget
  widgets/src/components/form/checkbox/checkbox-list.tsx
  widgets/src/components/form/checkbox/checkbox.tsx
  widgets/src/components/form/checkbox/index.ts
  widgets/src/components/form/index.tsx
  widgets/src/components/form/phone-input.tsx
  widgets/src/dynamic-form/src/dynamic-form.tsx
  widgets/src/screens/take-ticket/take-ticket.tsx
  widgets/src/styles/components/_checkbox.scss
  widgets/src/styles/components/_layout-screen.scss
  widgets/src/styles/components/_phone-input.scss
  widgets/src/styles/styles.scss
Labels: 🕐 Peer Review Pending

#63 feat: add find answers query, endpoint, controller and update ticket resolver
  apps/custom-fields/src/Answers/application/queries/FindAnswersQuery/FindAnswersQuery.ts
  apps/custom-fields/src/Answers/application/queries/FindAnswersQuery/FindAnswersQueryHandler.ts
  apps/custom-fields/src/Answers/application/queries/FindAnswersQuery/index.ts
  apps/custom-fields/src/Answers/domain/entities/Answer.ts
  apps/custom-fields/src/Answers/domain/enums/EntityType.ts
  apps/custom-fields/src/Answers/infrastructure/api/controllers/AnswersController.ts
  apps/custom-fields/src/Answers/infrastructure/api/rpc/AnswersServer.ts
  apps/custom-fields/src/Answers/infrastructure/api/validators/AnswersValidator.ts
  apps/custom-fields/src/Answers/infrastructure/factories/AnswersFactory.ts
  apps/custom-fields/src/Answers/infrastructure/persistence/mongo/models/AnswerModel.ts
  apps/custom-fields/src/Answers/infrastructure/register-dependencies/dependencies.ts
  apps/custom-fields/tests/unit/Answers/__mocks__/AnswersReadableRepo.ts
  apps/custom-fields/tests/unit/Answers/application/queries/FindAnswersQuery/FindAnswersQueryHandler.test.ts
  apps/custom-fields/tests/unit/Answers/application/queries/FindAnswersQuery/FindAnswersQueryMother.ts
  apps/custom-fields/tests/unit/Answers/domain/AnswerMother.ts
  apps/helpdesk-api/src/datasources/AnswersDataSource.ts
  apps/helpdesk-api/src/datasources/createSources.ts
  apps/helpdesk-api/src/datasources/index.ts
  apps/helpdesk-api/src/mappers/TicketsMapper.ts
  apps/helpdesk-api/src/models/AnswerModel.ts
  apps/helpdesk-api/src/models/TicketModel.ts
  apps/helpdesk-api/src/resolvers/TicketsResolver.ts
  yarn.lock
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge, custom-fields

#64 feat(helpdesk-api): add fields to ticket resolver
  apps/helpdesk-api/src/datasources/AgentsDataSource.ts
  apps/helpdesk-api/src/datasources/FieldsDataSource.ts
  apps/helpdesk-api/src/datasources/LocationsDataSource.ts
  apps/helpdesk-api/src/datasources/ServicesDataSource.ts
  apps/helpdesk-api/src/datasources/TicketsDataSource.ts
  apps/helpdesk-api/src/mappers/TicketsMapper.ts
  apps/helpdesk-api/src/models/FieldModel.ts
  apps/helpdesk-api/src/models/LocationModel.ts
  apps/helpdesk-api/src/models/TicketModel.ts
  apps/helpdesk-api/src/resolvers/FieldsResolver.ts
  apps/helpdesk-api/src/resolvers/LocationsResolver.ts
  apps/helpdesk-api/src/resolvers/ServicesResolver.ts
  apps/helpdesk-api/src/resolvers/TicketsResolver.ts
  apps/helpdesk-api/src/resolvers/index.ts
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge

#67 ci: improve security and eliminate external access to services
  .devo/provisioning/apps/addons.yml
  .devo/provisioning/apps/assistance-centers.yml
  .devo/provisioning/apps/business-owners.yml
  .devo/provisioning/apps/custom-fields.yml
  .devo/provisioning/apps/helpdesk-api.yml
  .devo/provisioning/apps/iam.yml
  .devo/provisioning/apps/oauth.yml
  .devo/provisioning/apps/queuing-system.yml
  .devo/provisioning/apps/realtime-api.yml
  .devo/provisioning/apps/teams.yml
  .devo/provisioning/apps/widgets-api.yml
  .devo/provisioning/common.yml
  .devo/provisioning/gateway.yml
  .devo/provisioning/infrastructure/brokers/rabbitmq.yml
  .devo/provisioning/infrastructure/datasources/elasticsearch.yml
  .devo/provisioning/infrastructure/datasources/kibana.yml
  .devo/provisioning/infrastructure/datasources/mongo-ui.yml
  .devo/provisioning/infrastructure/datasources/mongo.yml
  .devo/provisioning/infrastructure/datasources/postgres-ui.yml
  .devo/provisioning/infrastructure/datasources/postgres.yml
  .devo/provisioning/infrastructure/datasources/redis-ui.yml
  .devo/provisioning/infrastructure/datasources/redis.yml
  .devo/provisioning/infrastructure/observability/logging.yml
  .devo/provisioning/infrastructure/storage/minio.yml
  .devo/scripts/commands/setup.sh
  .devo/scripts/helpers/docker-command.sh
  .devo/scripts/helpers/yarn-lock.sh
  .env.example
  .github/actions/setup-docker-node/action.yml
  .github/actions/wait-for-infrastructure/action.yml
  .github/workflows/e2e-and-benchmark-tests.yml
  apps/oauth/Dockerfile
  apps/oauth/README.md
  yarn.lock
Labels: 🕐 Peer Review Pending, docker, devo, environment

#68 enhance: add close button and improve navigation state
  widgets/src/@types/navigation.ts
  widgets/src/components/form/form.tsx
  widgets/src/components/layouts/shell/header-shell.tsx
  widgets/src/localization/locales/en.json
  widgets/src/localization/locales/es.json
  widgets/src/navigation/navigator.tsx
  widgets/src/navigation/use-navigator.ts
  widgets/src/routes/router.tsx
  widgets/src/screens/take-ticket/take-ticket.tsx
  widgets/src/styles/components/_header.scss
  yarn.lock
Labels: 🕐 Peer Review Pending

#69 Fix: remove inncesary console log
  widgets/src/screens/take-ticket/take-ticket.tsx
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge

#70 ci: enable infrastructure dashboards through the gateway
  .devo/provisioning/apps/iam.yml
  .devo/provisioning/apps/oauth.yml
  .devo/provisioning/apps/realtime-api.yml
  .devo/provisioning/gateway.yml
  .devo/provisioning/infrastructure/brokers/rabbitmq.yml
  .devo/provisioning/infrastructure/datasources/kibana.yml
  .devo/provisioning/infrastructure/datasources/mongo-ui.yml
  .devo/provisioning/infrastructure/datasources/postgres-ui.yml
  .devo/provisioning/infrastructure/datasources/redis-ui.yml
  .devo/provisioning/infrastructure/storage/minio.yml
  .env.example
  apps/gateway/Dockerfile
  apps/gateway/config/dynamic.yml
  apps/gateway/config/traefik.yml
  apps/oauth/Dockerfile
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge, docker, devo, environment

#71 improve: updated resolvers and realtime handlers
  apps/realtime-api/src/broadcasting/broadcastable.ts
  apps/realtime-api/src/channels/helpdesk/handlers/RealtimeForAgentsTicketsHandler.ts
  apps/realtime-api/src/channels/queuing/handlers/RealtimeTicketsBeforeYoursUpdatedHandler.ts
  apps/widgets-api/src/datasources/TicketsDataSource.ts
  apps/widgets-api/src/models/TicketModel.ts
  apps/widgets-api/src/resolvers/TicketsResolver.ts
  widgets/src/graphql/generated/graphql.tsx
  widgets/src/graphql/graphql.schema.json
  widgets/src/hooks/use-internal-state.ts
  widgets/src/screens/ticket-details/ticket-details.tsx
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge, realtime-api

#72 Feat/add mix panel and notifications
  widgets/develop.config.json
  widgets/package.json
  widgets/src/config/global.ts
  widgets/src/container.tsx
  widgets/src/hooks/use-notification.ts
  widgets/src/hooks/use-telemetry.ts
  widgets/src/libs/telemetry.ts
  widgets/src/libs/telemetry/adapters/mixpanel-adapter.ts
  widgets/src/libs/telemetry/index.ts
  widgets/src/libs/telemetry/telemetry-context.ts
  widgets/src/libs/telemetry/telemetry-provider.tsx
  widgets/src/libs/telemetry/telemetry.ts
  widgets/src/navigation/navigator.tsx
  widgets/src/screens/ticket-details/ticket-details.tsx
  yarn.lock
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge

#73 improve: best way to request permission
  widgets/src/components/notification/notification.tsx
  widgets/src/hooks/use-notification.ts
  widgets/src/screens/ticket-details/ticket-details.tsx
Labels: 👀 Peer Review Passed, 👌 QA Passed! - Ready to merge
